<h1 class="text-secondary font-weight-bold">Error: 404 - Not Found</h1>

<div class="row">


    <div class="col-md-12 col-sm-12 mb-3"><br><br>
        <div class="card text-danger">
            <div class="card-body text-center">
                <h2 class="card-title">404</h2>
                <h4 class="card-subtitle text-muted">Not Found</h4>
            </div>
        </div>
    </div>


</div>