
<h1 class="text-secondary font-weight-bold">Edit TestTodo</h1>

<div class="row">
    <div class="col-md-12 col-sm-12 my-3">
        <div class="card p-3">
            
            <form action="/update/{{ data._id }}" method="POST">
                <div class="form-group">
                    <label for="title">Todo Title</label>
                    <input type="text" name="title" class="form-control" value="{{ data.title }}" placeholder="Write todo Title">
                    <span class="invalid-feedback"></span>
                </div>
                <div class="form-group">
                    <label for="body">Todo Body</label>
                    <textarea type="text" name="body" class="form-control" rows="8" placeholder="Write todo Body">{{ data.description }}</textarea>
                    <span class="invalid-feedback"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-secondary">edit</button>
                </div>
            </form>
        </div>
    </div>

</div>
  