
<h1 class="text-secondary font-weight-bold">Browse All Todos</h1>

<div class="row">
{{#each dataTodo}}

    <div class="col-md-12 col-sm-12 mb-3">
        <div class="card todo-item text-muted{{#if this.completed }} completed {{/if}}">
            <div class="card-body d-flex justify-content-between align-items-center">
                
                <div class="d-flex justify-content-between align-items-baseline ">
                    
                    <div class="card-title mb-0 ml-2 increase-font">
                        <a href="/show/{{ this._id }}" class="text-decoration-none">{{ this.title }}</a>
                    </div>
                </div>
                <form method="POST" action="/remove/{{ this._id }}">
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
{{/each}}
    
  
</div>
        