<main class="py-4">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-12">

                <div class="card todo-item text-muted mb-3{{#if data.completed }} completed {{/if}}">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        
                        <div class="d-flex justify-content-between align-items-baseline ">
                            <div class="card-title mb-0 ml-2 increase-font">{{ data.title }}</div>
                        </div>
                    </div>
                </div>

                <div class="card text-muted">
                    <div class="card-body">{{ data.description }}</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body d-flex justify-content-around">
                        
                        <form method="POST" action="/remove/{{ this._id }}">
                            <button type="submit" class="btn btn-outline-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                                
                        <a href="/edit/{{ data._id }}" class="btn btn-outline-secondary">
                            <i class="fas fa-edit"></i>
                        </a>
                        {{#if data.completed}}
                            <form method="POST" action="/update/{{ data._id }}/false-status">
                                <button type="submit" class="btn btn-outline-secondary mark-todo-as-un-completed">
                                    <i class="fas fa-times"></i>
                                </button>
                            </form>
                        {{else}}
                            <form method="POST" action="/update/{{ data._id }}/true-status">
                                <button class="btn btn-outline-secondary mark-todo-as-completed">
                                    <i class="fas fa-check"></i>
                                </button>
                            </form>
                        {{/if}}
                        
                        
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
